.svgFill {
  fill: var(--blue);
}

.nav {
  padding: 0 16px;
  position: relative;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 #0000,0 0 #0000,0 0 #0000,0 0 #0000,0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px -1px rgba(0,0,0,0.1)
}

.burgerMenu,
.smNavContainer {
  display: none;
}

.smNavContainer {
  min-height: 100vh;
  overflow-y: scroll;
  height: 100%;
    font-size: 18px;
}

.smNavContainer.open {
  display: flex;
}

.linkContainer {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.linkContainer li {
  width: 100%;
}

.smNavContainer .linkContainer li:hover {
  border: none;
}

.linkContainer li a {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navList {
  display: flex;
  justify-content: space-evenly;
}

.navList li {
  font-size: 1.125rem;
  line-height: 1.75rem;
  padding: 0rem 0.75rem;
  letter-spacing: .6px;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid transparent;
}

.navList .sales {
  color: var(--light-orange);
}

.navList li:hover {
  border-bottom: 2px solid rgb(30 48 110/1);
}

.navList a {
  color: var(--blue);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerClassLg,
.navList {
  height: 100%;
}

.greaterThanIcon {
  rotate: -90deg;
}


.smNavContainer.open {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  background: var(--white);

}

.smNavContainer nav {
  padding: 1.75rem;
}

.logoSmContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.logoSmContainer .logo {
  margin: 0 0 .5rem 0;
}

nav.containerClassSm {
  padding: 0px;
}

.containerClassSm ul,
.smNavContainer.open {
  display: flex;
  flex-direction: column;
}

.navList {
  display: flex;
}


.smNavContainer.open .navList li a {
  font-size: 1.875rem;
}

.smNavContainer.open .navList li {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.mobileNavBottom {
  width: 100%;
  background: var(--blue);
  display: flex;
  flex-direction: column;
  padding: 1.75rem;
}

.mobileNavBottom a {
  color: var(--white);
}

.mobileNavBottom select {
  padding: .5rem 1rem;
  border: none;
  outline: none;
}

.mobileNavBottom label {
  display: flex;
  align-items: center;
  padding-left: 35px;
  padding-right: 20px;
  justify-content: center;
  background: #fff;
  border-radius: 20px;
  width: 200px;
  margin-top: 1.5rem;
}

.countryIcon {
  position: absolute;
  left: 35px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}

.localeSelector {
  border-radius: 20px;
  font-size: 100%;
}


@media screen and (min-width: 1025px) {
  .logoLg {
    position: absolute;
    left: 1rem;
  }

  .nav button {
    position: absolute;
    right: 1rem;
  }
  .navList li {
    padding: 0.5rem 0px;
  }

  .nav .navList li {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}

@media screen and (max-width: 1024px) {
  .nav {
    justify-content: space-between;
  }
  .burgerMenu {
    display: block;
  }



  .containerClassLg {
    display: none;
  }

  .logo img {
    width: auto;
    height: 1.5rem
  }

  img.logoLg {
    height: 40px;
  }

  .navList li {
    padding: 0.5rem 0px;
  }

  

  .navList li:hover {
    border-bottom-color: transparent;
  }

  .linkContainer {
    display: flex;
    align-items: center;
  }

  
}
